<div class="topnav">
  <a class="active" href="/admin">Home</a>
</div>

<div style="margin-top: 20px" class="container col-md-6">
  <h1 style="color: #1ABC9CFF">Add medical facility</h1>
  <form>
    <div class="mb-3">
      <div class="myDIV">Name</div>
      <input type="text" [(ngModel)]="facility.name" class="form-control" id="name" name="name">
    </div>
    <div class="mb-3">
      <div class="myDIV">Price</div>
      <div class="hide">Price must be a positive value!</div>
      <input type="password" [(ngModel)]="facility.price" class="form-control" id="password" name="password">
    </div>
    <button type="button" class="btn btn-primary" (click)="add()">Add medical facility</button>
  </form>
</div>

