<div class="topnav" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
  <a class="active" href="/admin">Home</a>
</div>

<div style="margin-top: 50px" class="container col-md-4">
  <h1>Our medical facilities</h1>
</div>

<div class="container col-md-2">
  <button type="button" class="btn btn-dark" routerLink="/add-facilities">Add medical facility</button>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-7 mt-5">
      <div class="form-group d-flex align-items-center">
        <input style="margin-left: 10px" type="text" [(ngModel)]="filterName" class="form-control" id="find"
               name="email"
               placeholder="search">
        <select style="margin-left: 10px" [(ngModel)]="criteria" id="criteria" name="criteria" class="form-select">
          <option value="id">Find by id</option>
          <option value="name">Find by name</option>
          <option value="price">Find by price</option>
          <option value="all">Find all</option>
        </select>
        <button style="margin-left: 10px" type="button" class="btn btn-dark" (click)="onSearch()">Search
        </button>
      </div>
    </div>
  </div>
</div>


<div style="background-color: #1ABC9CFF;margin-top: 50px" class="container col-md-6">
  <table mat-table [dataSource]="medicalFacilitiesList" class="mat-elevation-z8 demo-table">
    <ng-container matColumnDef="ID">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let facility">{{facility.id}}</td>
    </ng-container>

    <ng-container matColumnDef="Name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let facility">{{facility.name}}</td>
    </ng-container>

    <ng-container matColumnDef="Price">
      <th mat-header-cell *matHeaderCellDef>Price</th>
      <td mat-cell *matCellDef="let facility">{{facility.price}}</td>
    </ng-container>

    <ng-container matColumnDef="Actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let facility">
        <a [routerLink]="['/update-facilities', facility.id]"
        ><mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="edit"
        >
        </mat-icon
        ></a>
        <mat-icon
          (click)="openDeleteModal(facility.id)"
          aria-hidden="false"
          aria-label="Example delete icon"
          fontIcon="delete"
        >
        </mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
  </table>
</div>
