<div class="topnav">
  <a class="active" href="/doctor">Home</a>
</div>

<div style="margin-top: 50px" class="container col-md-3">
  <h1>My appointments</h1>
</div>
<div style="background-color: #1ABC9CFF;margin-top: 50px" class="container col-md-9">
  <table mat-table [dataSource]="appointmentsList" class="mat-elevation-z8 demo-table">
    <ng-container matColumnDef="ID">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let appointment">{{appointment.appointmentId}}</td>
    </ng-container>

    <ng-container matColumnDef="Animal Name">
      <th mat-header-cell *matHeaderCellDef>Animal Name</th>
      <td mat-cell *matCellDef="let appointment">{{appointment.animal.name}}</td>
    </ng-container>

    <ng-container matColumnDef="Date">
      <th mat-header-cell *matHeaderCellDef>Date</th>
      <td mat-cell *matCellDef="let appointment">{{appointment.date}}</td>
    </ng-container>

    <ng-container matColumnDef="Facilities">
      <th mat-header-cell *matHeaderCellDef>Facilities</th>
      <td mat-cell *matCellDef="let appointment">
        <mat-list-item *ngFor="let facility of appointment.medicalFacilities">
          <div mat-line>{{facility.name}}</div>
        </mat-list-item>
      </td>
    </ng-container>

    <ng-container matColumnDef="Actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let appointment">
        <a [routerLink]="['update-appointments', appointment.appointmentId]"
        >
          <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="edit"
          >
          </mat-icon
          >
        </a>
        <mat-icon
          (click)="openDeleteModal(appointment.appointmentId)"
          aria-hidden="false"
          aria-label="Example delete icon"
          fontIcon="delete"
        >
        </mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
  </table>
</div>

